.card_title{
    border-color: #009788; 
    color: black;
    background-color:#009788;
    align-items: center;

}
.btn-outline-secondary{
    border-color: black; 
    color: black;
    
}
.btn-primary{
    border-color: black; 
    color: black;
}